<div class="container">
  <h3>New Recipes</h3>
  <div class="col-md-8">
    <form>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="title" placeholder="Recipe title">
        <label for="title">Password</label>
      </div>
      <div class="form-floating mb-3">
        <textarea style="height: 200px" class="form-control" placeholder="Leave a comment here" id="content"></textarea>
        <label for="content">Content</label>
      </div>
    </form>
  </div>
</div>
